.navigation {
  background: -webkit-linear-gradient(360deg, #383836 10%, #4a4a4a 360%);
  background: linear-gradient(360deg, #383836 10%, #4a4a4a 360%);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0 2em;
}

.logo {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.navItemWrapper {
  display: flex;
}

.navWhite {
  color: white;
  text-decoration: none;
  list-style: none;

  padding: 1.5em;
}
