.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 21px 0;
}

.logo {
  margin-bottom: 0;
  min-width: 70px;
}

.navItemWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 20px;
  gap: 45.07px;
}

.navWhite {
  font-weight: 400;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  width: fit-content;
  white-space: nowrap;
  color: #339989;
}

button {
  width: 159.64px;
  height: 45.07px;
  font-size: inherit;
  color: #06d6a0;
  border: 2px solid #06d6a0;
  border-radius: 6.76064px;
}
