.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 80%;
  margin-bottom: 2em;
  margin-right: 2.1em;
}

.logo {
  width: 100px;
}

.showMenu {
  margin: 1em 0;

  display: flex;
  display: none;
  transform: rotate(45deg);
  opacity: 0;
}

.hideMenu {
  transform: rotate(0);
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 1em;
  list-style: none;
  color: #339989;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 0;
  cursor: pointer;
}

.nav-item:hover {
  border-top: 2px solid #339989;
  border-bottom: 2px solid #339989;
  padding: 0 1em;
}

.nav-hamburger {
  float: right;
  position: fixed;
  top: 50px;
  right: 100px;
  color: #339989;
}
