@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;600&family=Source+Code+Pro:wght@300;500;600&display=swap");

.App {
  font-family: "Fira Code", monospace;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: #339989;
}

h2,
p {
  color: #9ee7db;
}
