html,
body {
  margin: 1em 5em;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131515;
  --lochinvar: #339989;
}

code {
  font-family: "Encode Sans", sans-serif;
}
