.header {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 920px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2em;
}

.profilePicture {
  width: 324px;
  border-radius: 50%;
}

.btn-primary {
  display: flex;
  align-items: center;
  background-color: #339989;
  color: #131515;
  border-radius: 2px;
  border: none;
  padding: 0px 10px;
  width: 212px;
  font-family: inherit;
}
